*{
    background-color: #f4f5f7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    margin: 0;
    height: clamp(60vh, 100vh, 100vh); 
    width: clamp(60vw, 100vw, 100vw);
    overflow-y:auto;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5vh;
    margin: 1vh;
}

.header img{
    position: absolute;
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    margin-left: 35%;
}

.dropdown-menu{
    display:none;
    position: absolute;
    top: 5vh;
    margin-left: 30vw;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    width: 150px;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu ul{
    list-style: none;
}

.dropdown-menu li{
    text-align: center;
    padding: 0.5rem;
    background-color: lightgrey;
}

.dropdown-menu li a{
    background-color: lightgrey;
    text-decoration-line: none;
    color: black;
}
.loginBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    width: 100vw;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 50%;
}


.loginForm #form{
    width: 20vw;
}

.input-group label {
    text-align: left;
    display: block;
    margin-left: -25%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-weight: bold; 
    font-size: 1rem;
}

.input-group input{
    width: 150%;
    margin-left: -25%;
    box-sizing: border-box;
    padding: 0.5em;
    border-width: 0.1vw;
    border-radius: 0.5vw;
}

.input-group p {
    font-size: 0.7rem;
    margin-top: 0.5vh;
    margin-left: -25%;
    color: red;
    text-align: left;
}

.loginForm #modify-button {
    background-color: #ACA0EB;
    color: white;
    text-align: center;
    border-color: transparent;
    border-radius: 15px;
    width: 150%;
    padding: 0.5vh;
    margin-left: -25%;
    margin-top: 2vh;
    font-size: 1rem;
}

.loginForm button:hover{
    cursor: pointer;
}

.loginForm #sign-up-button {
    border: none;
    outline: none;
    background-color: inherit ;
    cursor: pointer;
    margin: 10px;
    font-size: 1rem;
}