*{
    background-color: #f4f5f7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    margin: 0;
    height: clamp(60vh, 100vh, 100vh); 
    width: clamp(60vw, 100vw, 100vw);
    overflow-y:auto;
}

.posts-body{
    min-height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#back-button{
    position: absolute;
    margin-right: 35vw;
    border: transparent;
    font-size: 2rem;
}

.dropdown-menu{
    display:none;
    position: absolute;
    top: 5vh;
    margin-left: 30vw;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    width: 150px;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu ul{
    list-style: none;
}

.dropdown-menu li{
    text-align: center;
    padding: 0.5rem;
    background-color: lightgrey;
}

.dropdown-menu li a{
    background-color: lightgrey;
    text-decoration-line: none;
    color: black;
}

.buttons {
    margin-left: auto;
}
.buttons button{
    width: 3vw;
    text-align: center;
    align-items: center;
    border-radius: 7px;
    background-color: white;
    border-color:#ACA0EB;
}

.post-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5vh;
    margin: 1vh;
}

.post-header img{
    position: absolute;
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    margin-left: 35%;
}

.post-header h1{
    text-align: center;
}

.author-post-card {
    width: 40%;
    height: 10%;
    margin-left: 35vw;
    border-radius: 12px;
    margin: 1vh 0 1vh 0;
}

.post-text{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-title {

    margin: 1vh;
    padding-top: 1vh;
}

.comment-post-card {
    width: 40%;
    height: 10%;
    margin-left: 35vw;
    border-radius: 12px;
    margin: 1vh 0 1vh 0;
}


.post-meta, .post-meta * {
    display: flex;
    justify-content: left;
    align-items: center;
   
}

.post-meta{
    margin: 1vh;
}

.post-card-text{
    margin-left: calc(1vh + 2em + 0.5rem);
}

.buttons button{
    margin-left: 0.3rem;
    justify-content: center;
}

.buttons :hover{
    cursor: pointer;
}

.post-date{
    margin-left: 1vw;
}

.post-meta span{
    margin-right: 1vh;
    font-size: 0.5em;
}

.divider {
   
    height: 1px;
}

.post-author{
    display: flex;
    align-items: center;
   
    margin: 1vh;
}

.author-profile {
    width: 2em;
    height: 2em;
    background-color: #e0e0e0;
    border-radius: 50%;
}

.author-name {
    font-weight: bold;
    margin-left: 0.5rem;
}

.post-image{
    width: 100%;
    height: 25vh;
    margin-top: 1vh;
}

.post-text-meta {
    margin-top: 1vh;
    width: 100%;
}

.post-buttons{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    text-align: center;
    margin-top:1.5vh;
    width: 40%;
}

.post-num-likes{
    width: 20%;
    height: 5vh;
    background-color: #d9d9d9;
    border-radius: 12px;
}

.post-num-likes:hover, .post-num-likes *:hover{
    cursor: pointer;
}

.post-num-likes *{
    display: flex;
    justify-content: center;
    height: 50%;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
}


.post-num-views{
    width: 20%;
    background-color: #d9d9d9;
    margin-left: 1vw;
    border-radius: 12px;
}

.post-num-views *{
    display: flex;
    justify-content: center;
    height: 50%;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
}

.post-num-comments{
    width: 20%;
    background-color: #d9d9d9;
    margin-left: 1vw;
    border-radius: 12px;
}

.post-num-comments *{
    display: flex;
    justify-content: center;
    height: 50%;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
}

.post-write-comment{
    margin: 1.5vh 0 1.5vh 0;
    width: 40%;
}

.post-write-comment-body{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.post-write-comment-body textarea{
    height: 10vh;
    width: 100%;
    resize: none;
}

.post-write-comment-body button{
    display: flex;
    background-color: #ACA0EB;
    color: white;
    border-color: transparent;
    border-radius: 16px;
    height: 3.5vh;
    width: 35%;
    margin-top: 1vh;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;

}

.post-write-comment-body button:not(:disabled):hover{
    cursor: pointer;
}

.post-modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.comment-modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-title {
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.modal-subtitle {
    background-color: transparent;
    font-size: 14px;
    color: gray;
    margin-bottom: 16px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-buttons button {
    width: 48%;
    padding: 10px 0;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#commentCancelButton, #postCancelButton {
    background-color: black;
    color: white;
}

#commentConfirmButton, #postConfirmButton {
    background-color: #ACA0EB;
    color: white;
}